<html >
<head>
    <title>MongoDB/Spring Boot OpenWeatherMap</title>
    <style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
</head>

<header>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JQuerry library -->
</header>
<body>
<h2>Weather City!</h2>
<button onclick="myFunction()">Oslo temperature</button>
<p id="paragraph"></p>
<script type="text/javascript">
function myFunction() {
    //function which send ajax request to the server
    $.ajax({
        url : '/api/myrequest',
        dataType : 'json',
        type: 'GET',
        contentType : "application/json",
        async: true,
        success : function(data) {
            console.log(data);
             $("#paragraph").text(data.lists);
        }
    });
}
</script>
</body>

<body>
<table>
    <thead>
    <tr>
        <th>Day</th>
        <th>City</th>
        <th>Description</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="openweathermap : ${list}">
        <td th:text="${openweathermap.day}"></td>
        <td th:text="${openweathermap.city}"></td>
        <td th:text="${openweathermap.description}"></td>
        <td th:text="${openweathermap.year}"></td>
    </tr>
    </tbody>
</table>

<a>Weather London</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Base</th>
        <th>Id</th>
        <th>Visibility</th>
        <th>dt</th>
        <th>Timezone</th>
        <th>Weather.description</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="weatherpojo : ${lists}">
        <td th:text="${weatherpojo.name}"></td>
        <td th:text="${weatherpojo.base}"></td>
        <td th:text="${weatherpojo.id}"></td>
        <td th:text="${weatherpojo.visibility}"></td>
        <td th:text="${weatherpojo.dt}"></td>
        <td th:text="${weatherpojo.timezone}"></td>
        <td th:text="${weatherpojo.weather.description}"></td>
        <td th:text="${weatherpojo.date}"></td>
    </tr>
    </tbody>

    <tr>
        <th>Temperature</th>
        <th>Coord</th>
        <th>Clauds</th>
        <th>Country</th>
        <th>Wind-speed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="weatherpojo : ${lists}">
        <td th:text="${weatherpojo.main.temp}"></td>
        <td th:text="${weatherpojo.coord.lon}"></td>
        <td th:text="${weatherpojo.clouds.all}"></td>
        <td th:text="${weatherpojo.sys.country}"></td>
        <td th:text="${weatherpojo.wind.speed}"></td>
    </tr>
    </tbody>

    <tr>
        <th>Icon</th>
    </tr>
    </thead>
    <tbody>
    <tr th:switch="${list3}">
        <td th:case="'http://openweathermap.org/img/wn/01d@2x.png'"><img src="http://openweathermap.org/img/wn/01d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/02d@2x.png'"><img src="http://openweathermap.org/img/wn/02d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/03d@2x.png'"><img src="http://openweathermap.org/img/wn/03d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/04d@2x.png'"><img src="http://openweathermap.org/img/wn/04d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/09d@2x.png'"><img src="http://openweathermap.org/img/wn/09d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/10d@2x.png'"><img src="http://openweathermap.org/img/wn/10d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/11d@2x.png'"><img src="http://openweathermap.org/img/wn/11d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/13d@2x.png'"><img src="http://openweathermap.org/img/wn/13d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/50d@2x.png'"><img src="http://openweathermap.org/img/wn/50d@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/01n@2x.png'"><img src="http://openweathermap.org/img/wn/01n@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/02n@2x.png'"><img src="http://openweathermap.org/img/wn/02n@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="'http://openweathermap.org/img/wn/10n@2x.png'"><img src="http://openweathermap.org/img/wn/10n@2x.png" height="60" width="60" alt=""></a></td>
        <td th:case="*">Not found</td>
        <td th:case="'Not found'">Not found</td>
    </tr>
    </tbody>

</table>

<br />
<h2>Add</h2>
<form action="/add" method="POST">
    Day <input type="text" id="day" name="day" /><br />
    City <input type="text" id="city" name="city" /><br />
    Year <input type="text" id="year" name="year" /><br />
    Description <textarea rows="5" cols="70" id="description" name="description"></textarea><br />
    <input type="submit" />
</form>
<h2>Search</h2>
<form action="/search" method="POST">
    <input type="text" name="search" id="search" th:value="${search}" />
    <input type="submit" value="Search" />
</form>
</body>
</html>