<html >
<head>
    <title>MongoDB/Spring Boot OpenWeatherMap</title>
    <style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Day</th>
        <th>City</th>
        <th>Description</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="openweathermap : ${list}">
        <td th:text="${openweathermap.day}"></td>
        <td th:text="${openweathermap.city}"></td>
        <td th:text="${openweathermap.description}"></td>
        <td th:text="${openweathermap.year}"></td>
    </tr>
    </tbody>
</table>
<a>Weather London</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Base</th>
        <th>Id</th>
        <th>Visibility</th>
        <th>dt</th>
        <th>Timezone</th>
        <th>Weather.main</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="weatherpojo : ${lists}">
        <td th:text="${weatherpojo.name}"></td>
        <td th:text="${weatherpojo.base}"></td>
        <td th:text="${weatherpojo.id}"></td>
        <td th:text="${weatherpojo.visibility}"></td>
        <td th:text="${weatherpojo.dt}"></td>
        <td th:text="${weatherpojo.timezone}"></td>
        <td th:text="${weatherpojo.weathers}"></td>
    </tr>
    </tbody>
</table>

<br />
<h2>Add</h2>
<form action="/add" method="POST">
    Day <input type="text" id="day" name="day" /><br />
    City <input type="text" id="city" name="city" /><br />
    Year <input type="text" id="year" name="year" /><br />
    Description <textarea rows="5" cols="70" id="description" name="description"></textarea><br />
    <input type="submit" />
</form>
<h2>Search</h2>
<form action="/search" method="POST">
    <input type="text" name="search" id="search" th:value="${search}" />
    <input type="submit" value="Search" />
</form>
</body>
</html>